/* EXPERIENCE */

.experiences {
    padding: .5rem 1rem;
}

.experience-pro {
    padding-bottom: 1rem;
}

.experience-pro h4 {
    font-size: 17px;
}

.experience-pro .company {
    font-size: 15px;
    margin-top: .5rem;
    color: var(--primary-clr);
    font-weight: bold;
    text-decoration: none;
}

.experience-pro .company:hover {
    color: var(--clr-black);
}

.experience-pro .date {
    font-size: 15px;
    font-weight: normal;
    color: #6a8285;
}

.experience-pro p {
    margin-top: .5rem;
}


/* PROJECTS */

.projects {
    display: flex;
    padding: 2rem 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.project {
    padding: 1rem;
    border: 1px solid var(--primary-clr);
    border-radius: 7px;
}