@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,600,700&display=swap";
:root{
  --clr-white :#fdfdfd;
  --clr-black : #233149;
  --primary-clr : #1f5ca7;
  --mw-14: 1140px;
  --mw-96:960px
}
*{
  padding: 0;
  margin: 0;
  font-family: 'montserrat';
}
/*      BODY    */
body {
  margin: 0;
  font-family: open sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-white);
  }
  body::-webkit-scrollbar{
    width: 10px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--clr-black);
  }
/*      HOME CONTAINER     */

.home{
  z-index: 2;
  background: whitesmoke;
    overflow: hidden;
    position: relative;
    font-family: montserrat,sans-serif;
}
.home .back {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.home .back::before{
    position: absolute;
    content: '';
    width: 150%;
    height: 100%;
    background-color: var(--primary-clr);
    transform: skewX(20deg);
    top: 0;
    left: 0;
}
.container{
  margin: auto;
  width: 80%;
  max-width: var(--mw-14);
  display: flex;
  position: relative;
  padding-top: 120px;
}
.home .container>div{
  width: 50%;
}
.home-image img{
    height: 600px;
    top: 4px;
    position: relative;
}
.home .social{
  position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 20px;
    background: whitesmoke;
    width: 41px;
    text-align: center;
    padding: .5rem 0;
    border-radius: 50px;
    font-size: 1.3rem;
    border: 1px solid var(--primary-clr);
}
.home .social a{
  text-decoration: none;
  color: var(--primary-clr);
  transition: .3s;
  padding: .5rem 0;
}
.home .social a:hover{
  color: var(--clr-black);
  font-size: 1.7rem;
}
.home .home-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content .content {
  font-size: 2rem;
  display: block;
}
.home-content h4{
  font-weight: 600;
  color: var(--primary-clr);
}
.home-content h2{
  padding-top: 20px;
  color: var(--clr-black);
}
.home-content span{
  font-size: 18px;
  color: var(--clr-black);
  margin-top: 15px;
}
.home-content input{
  cursor: pointer;
  font-family: montserrat,sans-serif;
  margin-top: 30px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 5px;
  border: 0;
  background-color: var(--primary-clr);
  color: var(--clr-white);
  font-size: 16px;
  transition: .3s;
}
.home-content input:hover{
  background-color: var(--clr-black);
  padding: 22px 45px;
  font-size: 19px;
}
/*      NAVBAR     */
nav{
  z-index: 1;
  position: absolute;
  width: 100%;
}
.navbar{
  padding: 25px 0;
  max-width: var(--mw-14);
  display:flex;
  justify-content: space-around;
  margin: auto;
  font-weight: 600;
  width: 90%;
}
.navbar button{
  display: none;
}
nav .logo{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-clr);
  display: flex;
  align-items: center;
}
nav .logo img{
  transition: .3s;
  height: 26px;
}
nav .logo img:hover{
  height: 30px;
}
nav ul{
  
  display: flex;
  list-style: none;
}
nav ul a{
  padding: 0 1rem;
  text-decoration: none;
  color: var(--clr-white);
  transition: .3s;
}
nav ul a:hover{
  font-size: 18px;
  padding: 0 1.5rem;
  color: var(--clr-white);
}
/*      ABOUT     */
.About{
  padding: 70px 0;
  display: flex;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  gap: 2rem;
}
.About .container{
  flex-direction: column;
}
.About .info h5{
  color: var(--primary-clr);
  font-size: 20px;
  font-weight: 600;
}
.About .info h3{
  color: var(--clr-black);
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}
.About .line{
  padding-top: 10px;
}
.About .line li{
  display: inline-block;
  background-color: var(--primary-clr);
  border-radius: 50px;
  height: 3px;
}
.About .line li:nth-last-of-type(3){width: 64px;}
.About .line li:nth-last-of-type(2){width: 10px; margin: 0 4px;}
.About .line li:nth-last-of-type(1){width: 7px;}
.About p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #646f87;
}
.about-skills{
  padding-top: 15px;
}
.skill-item{
  margin-top: 20px;
}
.skill-header{
  position: relative;
}
.skill-header h6{
  font-size: 16px;
  font-weight: 500;
}
.skill-header p{
  position: absolute;
    top: -3px;
    font-size: 14px;
    right: 0;
}
.skill-bar{
  margin-top: 15px;
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background-color: rgba(100,111,135,.11);
  position: relative;
}
.progress-line{
  position: absolute;
  height: 9px;
  border-radius: 5px;
  background-color: var(--primary-clr);
  transition: all 2s ease-out 0s;
}
@media screen and (max-width:750px) {
  nav{
    background-color: var(--primary-clr);
  }
  .navbar{
    display: block;
    padding: 10px;
  }
  .navbar ul{
    padding-top: 1rem;
    display: block;
  }
  .navbar ul a{
    padding: 1rem 0;
    display: inline-block;
  }
  .navbar button{
    display: unset;
  }
  .home .container{
    flex-direction: column;
  } 
  .home .container>div{
    width: unset;
    height: 50%;
  }
  .home .home-image{
    text-align: center;
  }
  .home .home-image img{
    height: 100%;
    max-height: unset;
    position: unset;
  }
  .home .back::before{
    content: unset;
  }

}