@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,600,700&display=swap";
:root{
  --clr-white :#fdfdfd;
  --clr-black : #233149;
  --primary-clr : #1f5ca7;
  --mw-14: 1140px;
  --mw-96:960px
}
*{
  padding: 0;
  margin: 0;
  font-family: 'montserrat';
}
/*      BODY    */
body {
  margin: 0;
  font-family: open sans,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-color: var(--clr-white);
  }
  body::-webkit-scrollbar{
    width: 10px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--clr-black);
  }

